body {
    background-color: #f0f0f0;
    padding: 2em;
    font-family: "Raleway", "Source Sans Pro", "Arial";
  }
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  input {
    padding: 10px;
    width: 100%;
    margin-bottom: 1em;
  }
  button {
    margin: 2em 0;
    padding: 1em 4em;
    display: block;
    font-size: medium;
  }
  #result {
    padding: 1em;
    background-color: #fff;
    margin: 1em 0;
  }

  /* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    justify-items: center;
  }